

  
<div >
 
  <br> <div class="text-center" ><h1>Gestion des Emplois</h1></div>
  <div *ngIf="access.getallop==true">

      <div class="row card-block">
          <div class="card mb-3 col-xl-12">

         

               

                        <div class="form-group row">
                 
              

                              <form action="#" method="get" class="col-xs-5">
                                      <div class="input-group">
                                        <input type="text" name="search" class="form-control" placeholder="Rechercher..." [(ngModel)]="filter">
                                        <span class="input-group-btn">
                                                <button type="reset" name="search" id="search-btn" class="btn btn-flat">
                                                  <i class="fa fa-remove"></i>
                                                </button>
                                              </span>
                                      </div>
                                    </form></div>


          </div>
      </div>

      



  <div class="row card-block">
      <div class="table-responsive">
          <table class="card-block table table-hover table-bordered" id="testTable">
              <thead class="text-center">
              <tr class="bgcleargray">
                
                  <th (click)="sort('nom')">nom 
                      <i aria-hidden="true" class="fa fa-chevron-up"
                         [ngClass]="{'fa fa-chevron-up':reverse,'fa fa-chevron-down':!reverse}"
                         *ngIf="key =='nom'"></i>
                  </th>
                  <th>prenom </th>
                  <th>email</th>
              
                  <th>Action</th>
                 
              </tr>
              </thead>
              <tbody>

              <!-- <tr *ngIf="utilisateurs.length == 0">
                  <td colspan="99" align="center">
                      Aucun enregistrement
                  </td>
              </tr> -->

   <tr style="background-color: #f9f9f9;" *ngFor="let u of utilisateurs| filter:filter 
   | orderBy: key : reverse|
   paginate: { itemsPerPage: 5, currentPage: currentPage } ;let i=index;">
                 
                  <td><p>{{u.nom}}</p></td>
                  <td>{{u.prenom}}</td>
                  <td>{{u.email}}</td>
               
                  <td>
                 <!-- <button type="button" class="btn btn-primary"  [routerLink]="['/emplois-update/update']">Modifier Emplois</button> -->
                 <button type="button" class="btn btn-primary"  [routerLink]="['/emplois-update/update',{username:u.username}]">Modifier Emplois</button>

                  </td>
                
              </tr>

              </tbody>

          </table>
          <div  class="text-center">
              <pagination-controls   previousLabel="Précédent"
                                     nextLabel="Suivant"
                                     (pageChange)="currentPage = $event">

              </pagination-controls>
          </div>

      </div>
<!--    data table classe   -->


<div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Liste des classes</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" (click)="showOrHide()"><i class="fa fa-minus"></i>
        </button>
      </div>
      <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    
    <div class="box-body" *ngIf="show==true">
        <div class="row">
  
      
            <div class="box-header">
          
        
              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="rechercher" [(ngModel)]="filters">
        
                  <div class="input-group-btn">
                    <button type="reset" class="btn btn-default"><i class="fa fa-remove"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
         
              <table class="table table-hover">
                <tbody><tr>
                  <th> classe </th>
                  <th>niveau</th>
                  <th>Action</th>
                </tr>
              
            
            
                <tr *ngFor="let c of classes| filter:filters 
                | orderBy: key : reverse|
                paginate: { itemsPerPage: 15, currentPage: currentPage } ;let i=index;">
                  <td>{{c.nomclasse}}</td>
                  <td>{{c.niveau}}</td>
                  <td>      <span class="input-group-btn" >
                    <button type="submit" class="btn btn-primary btn-flat" [routerLink]="['/emplois-update/emploisclasses',{id:c.id}]"> Voir emplois</button>
                  </span></td>
                </tr>
              </tbody></table>
              <div  class="text-center">
                <pagination-controls   previousLabel="Précédent"
                                       nextLabel="Suivant"
                                       (pageChange)="currentPage = $event">
        
                </pagination-controls>
            </div>
         
        </div>
    </div>
    <!-- /.box-body -->
  </div>
<!--    data hide  -->

<!--data hide end -->
  </div>


  
</div>
<div class="main-container" *ngIf="access.getallop==false">

      <div class="text-center" >
          <div>
           
                  <h1>404 - Page Not Found</h1>
                  <h3 >vous n'avez pas le droit à cette page</h3>
             
                  
             
          </div></div>
          

</div>
</div>
