.no-margin-row{
  margin-left : 0 ;
  margin-right : 0;
}

.trash{
  color: #a5433e;
}

.right-elt{
    position: absolute; right: 0;
}
.multi{
      height: 70px;
    margin-top: 5px;
}
.txtright{
  text-align: right;
  margin-top: 3px;
}

.txtcenter
{
  text-align: center;
}

.txtrightespace{
  text-align: right;
  padding-right: 20px;
}

.espace{
  margin-bottom: 10px;
}

.espace25{
  margin-bottom: 20px;
}

.btnpadding{
  padding-left : 0px;
  padding-right: 0px;
}

.big-body-modal
{
  width : 800px;
}

.bgcleargray{
  background-color : #f2f2f2 ;
}


.littlebtn
{
  height: 33px;
}

.right-elt-header{
      margin-left: 225px;
}

.colored{
    color: #84c1ff;
}
