.content2{
    background-color: #ecf0f5;
min-height: 250px;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 40px;
    padding-right: 40px;
    //text-align: center;
}

.titrecenter{
    text-align: center;
}

table {
    width: 100%;
  }