<header class="main-header">

  <!-- Logo -->
  <a routerLink="/Dashboard" [routerLinkActive]="['router-link-active']" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>S</b>C</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Scola</b>rity</span>
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <!-- <li class="dropdown messages-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
            <span class="label label-success">4</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 4 messages</li>
            <li>
              
              <ul class="menu">
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="assets/dist/img/avatar5.png" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      Support Team
                      <small><i class="fa fa-clock-o"></i> 5 mins</small>
                    </h4>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
           
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="assets/dist/img/avatar5.png" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      AdminLTE Design Team
                      <small><i class="fa fa-clock-o"></i> 2 hours</small>
                    </h4>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="assets/dist/img/avatar5.png" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      Developers
                      <small><i class="fa fa-clock-o"></i> Today</small>
                    </h4>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="assets/dist/img/avatar5.png" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      Sales Department
                      <small><i class="fa fa-clock-o"></i> Yesterday</small>
                    </h4>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="assets/dist/img/avatar5.png" class="img-circle" alt="User Image">
                    </div>
                    <h4>
                      Reviewers
                      <small><i class="fa fa-clock-o"></i> 2 days</small>
                    </h4>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer"><a routerLink="/gestion-message" [routerLinkActive]="['router-link-active']">Voir tous les messages</a></li>
          </ul>
        </li>  -->
        <!-- Notifications: style can be found in dropdown.less -->








        <li *ngIf="profil=='Enseignant'" class="dropdown notifications-menu" (click)="vue()">
          <a  class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            
            <span class="label label-danger" *ngIf="x!= 0">{{x}}</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header"></li>
            <li>
              
              <ul class="menu">
                <!-- <li>
                  <a href="#">
                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                  </a>
                </li> 
                <li>
                  <a href="#">
                    <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                    page and may cause design problems
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-users text-red"></i> 5 new members joined
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                  </a>
                </li>-->
                <li *ngFor="let message of datasource" style="font-size:11px">
                  <a routerLink="/notes/afichernotes" >
                    <i class="fa fa-user text-red"  > {{message.description}}   </i>    
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer"><a  routerLink="/notes/afichernotes" [routerLinkActive]="['router-link-active']">plus de details</a></li>
          </ul>
        </li>





















        <li *ngIf="profil!='Enseignant'" class="dropdown notifications-menu" (click)="initcount()">
          <a  class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            
            <span class="label label-danger" *ngIf="count != 0">{{count}}</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">Il y a {{messages.length}} exclus pour aujourd'hui</li>
            <li>
              
              <ul class="menu">
                <!-- <li>
                  <a href="#">
                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                  </a>
                </li> 
                <li>
                  <a href="#">
                    <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                    page and may cause design problems
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-users text-red"></i> 5 new members joined
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                  </a>
                </li>-->
                <li  *ngFor="let message of messages" style="font-size:11px">
                  <a *ngIf="message.toId==exclus">
                    <i class="fa fa-user text-red"> </i>       {{message.message}} {{message.fromId|date: 'dd/MM:HH:mm'}}
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer"><a routerLink="/gestion-exclus" [routerLinkActive]="['router-link-active']">plus de details</a></li>
          </ul>
        </li>
       
        <li *ngIf="profil!='Enseignant'"  class="dropdown tasks-menu" (click)="initretenu()">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-flag-o"></i>
            <span class="label label-warning" *ngIf="countretenu != 0">{{countretenu}}</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">Il y a {{messagesretenu.length}} retenu pour ajourdh'ui</li>
            <li>
             
              <ul class="menu">
              
               
               
               
                <li  *ngFor="let message of messagesretenu" style="font-size:11px">

                  <a  *ngIf="message.toId!=exclus">
                    <i class="fa fa-user text-red"  > </i>           {{message.message}} {{message.fromId|date: 'dd/MM:HH:mm'}}
                  </a>
                </li>
               
                <!-- <li>
                  <a href="#">
                    <h3>
                      Make beautiful transitions
                      <small class="pull-right">80%</small>
                    </h3>
                    <div class="progress xs">
                      <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">80% Complete</span>
                      </div>
                    </div>
                  </a>
                </li> -->
              
              </ul>
            </li>
            <li class="footer"><a routerLink="/gestion-retenu" [routerLinkActive]="['router-link-active']">plus de details</a></li>
          </ul>
        </li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="assets/dist/img/avatar5.png" class="user-image" alt="User Image">
            <span class="hidden-xs"> {{username}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="assets/dist/img/avatar5.png" class="img-circle" alt="User Image">

              <p>
                {{username}}- Web Developer
              <br> <b> {{date | date:'yyyy-MM-dd'}}</b>
              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="row">
                
              </div>
              <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a  class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a  class="btn btn-default btn-flat" [routerLink]="['/login']" (click)="onLoggedout()">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
           <a href="javascript:void(0)" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a> 
        </li>
      </ul>
    </div>
  </nav>
</header>
