.main-container {
  
    background-color: #bd1616;
  
    padding: 15px;
    max-width: 800px;
    height: 400px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
  
  }