<div [@routerTransition]>

    <div >
        <br>
    <div class="text-center" ><h1>liste des retenu </h1></div>
        <div class="row card-block">
            <div class="card mb-3 col-xl-12">
  
                  <div class="form-group row">
                     
                  
  
                          <form action="#" method="get" class="col-xs-5">
                                  <div class="input-group">
                                    <input type="text" name="search" class="form-control" placeholder="Rechercher..." [(ngModel)]="filter">
                                    <span class="input-group-btn">
                                            <button type="reset" name="search" id="search-btn" class="btn btn-flat">
                                              <i class="fa fa-remove"></i>
                                            </button>
                                          </span>
                                  </div>
                                </form></div>
  
            </div>
        </div>
  
      
  
  
  
    <div class="row card-block">
        <div class="table-responsive">
            <table class="card-block table table-hover table-bordered" id="testTable">
                <thead class="text-center">
                <tr class="bgcleargray">
                  
                  
                    <th  (click)="sort('nomclasse')">Classe
                        <i aria-hidden="true" class="fa fa-chevron-up"
                           [ngClass]="{'fa fa-chevron-up':reverse,'fa fa-chevron-down':!reverse}"
                           *ngIf="key =='nomclasse'"></i>
                    </th>
                    <th class="text-center">matiere</th>
                    
                    <th class="text-center">eleve</th>
                    <th class="text-center">motif</th>
                    <th class="text-center">date d'exclus</th>
                    <th class="text-center">Action</th>
                    <th class="horizontal-icons">
                        <button mat-raised-button color="primary" (click)="deleteClasse()"
                        [matBadge]="count" matBadgePosition="before" matBadgeColor="warn">
                     Archiver
                   </button>
                     <!-- <i class="fa fa-trash trash" aria-hidden="true" (click)="deleteClasse()"></i> -->
                    </th>
                </tr>
                </thead>
                <tbody>
  <!-- 
                <tr *ngIf="exclus.length == 0">
                    <td colspan="99" align="center">
                        Aucun enregistrement
                    </td>
                </tr> -->
  
     <tr class="text-center"  *ngFor="let u of retenu| filter:filter 
     | orderBy: key : reverse|
     paginate: { itemsPerPage: 50, currentPage: currentPage } ;let i=index;">
    
                    <td><p>{{u.programme.classe.nomclasse}}</p></td>
                    <td>{{u.programme.matiere.nommatiereFR}}</td>
                    <td>{{u.eleves.nom}} <p> </p> {{u.eleves.prenom}}  </td>
                    <td>{{u.remarque}}</td>
                    <td>{{u.date_Penalites | date : 'dd/MM/yyyy:HH:mm:ss'}}</td>
                 
                    <td class="text-center" scope="row">
                        <button mat-mini-fab color="primary"  (click)="showPDF(u)">PDF </button>
                     
                     
                </td>
               
                       
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" (click)="checkboxes(u)"
                                   [checked]="_isSelected(u.nomclasse)"
                                   (change)="_toggleSelection(u.nomclasse)">
                        </div>
                    </td>
                </tr>
  
                </tbody>
  
            </table>
            <div  class="text-center">
                <pagination-controls   previousLabel="Précédent"
                                       nextLabel="Suivant"
                                       (pageChange)="currentPage = $event">
  
                </pagination-controls>
            </div>
  
        </div>
  
     
          <!-- /.modal-dialog -->
        
  
  
    </div>
  </div>
  
  </div>