.no-margin-row{
    margin-left : 0 ;
    margin-right : 0;
  }
  .nopadding {
      padding: 0 !important;
      margin: 0 !important;
  }
  .colored{
      color: #84c1ff;
  }
  
  .trash{
    color: #a5433e;
  }
  
  .right-elt{
      float:right;
  }
  .multi{
          height: 70px;
      margin-top: 5px;
  }
  .txtright{
      text-align: right;
      margin-top: 3px;
  }
  
  .txtcenter
  {
      text-align: center;
  }
  
  .txtrightespace{
      text-align: right;
      margin-right: 20px;
  }
  
  .espace{
      margin-bottom: 10px;
  }
  
  .espace25{
      margin-bottom: 20px;
  }
  
  .btnpadding{
      padding-left : 0px;
    padding-right: 0px;
  }
  
  .big-body-modal
  {
      width : 800px;
  }
  
  .bgcleargray{
      background-color : #f2f2f2 ;
  }
  
  .icons{
          border: blue;
      margin-right: -50px;
  }
  
  .second-modal{
      width: 400px;
  }
  
  .second-modal-dialog{
        margin: 50px 20px 50px 50px;
  }
  
  .littlebtn
  {
      height: 33px;
  }
  
  .right-elt-header{
        margin-left: 225px;
  }
  
  .checkboxall {
    padding-left: 20px;
        margin-top: -10px; }
    .checkboxall label {
      display: inline-block;
  
      position: relative;
      padding-left: 5px; }
      .checkboxall label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #cccccc;
        border-radius: 3px;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
      .checkboxall label::after {
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        top: 0;
        margin-left: -20px;
        padding-left: 3px;
        padding-top: 1px;
        font-size: 11px;
        color: #555555; }
    .checkboxall input[type="checkbox"] {
      opacity: 0; }
      .checkboxall input[type="checkbox"]:focus + label::before {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px; }
      .checkboxall input[type="checkbox"]:checked + label::after {
        font-family: 'FontAwesome';
        content: "\f00c"; }
      .checkboxall input[type="checkbox"]:disabled + label {
        opacity: 0.65; }
        .checkboxall input[type="checkbox"]:disabled + label::before {
          background-color: #eeeeee;
          cursor: not-allowed; }
    .checkboxall.checkbox-circle label::before {
      border-radius: 50%; }
    .checkboxall.checkbox-inline {
      margin-top: 0; }
  .checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #84c1ff;
    border-color: #84c1ff; }
  .checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff; }
  