<div class="page-header">
        <div class="text-center" ><h1>Gestion des referentiels</h1></div>
    <hr>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card bg-light mb-8">
            <div class="card-header"><h3>importer ensemble des salles</h3></div>
            <div class="container" style="width:400px">
                <app-uploadsalle></app-uploadsalle>
         
            </div>


    
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card bg-light mb-8">
            <div class="card-header"><h3>importer ensemble des classes</h3></div>
            <div class="container" style="width:400px">
               
                <app-uploadclasse></app-uploadclasse>
            </div>

        </div>
    </div>
    <div class="col-sm-12">
        <div class="card bg-light mb-8">
            <div class="card-header"><h3>importer ensembles d'eleves</h3></div>
            <div class="container" style="width:400px">
                <app-form-upload></app-form-upload>
         
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="card bg-light mb-8">
            <div class="card-header"><h3>Ajout nombre d'heur par niveau par matiére</h3></div>
            <div class="container" style="width:400px">
                <app-gestion-nombre-heur-parniveau-matiere></app-gestion-nombre-heur-parniveau-matiere>
         
            </div>
        </div>
    </div>
 

    
</div>






