<mat-card>
  <mat-card-title class="text-center">Emploi de temps :  {{classeencours?.nomclasse}}</mat-card-title>
  <mat-card-content>
      <div class="mat-elevation-z8">
          <table mat-table [dataSource]="heures">

              <!-- numInscription Column -->
              <ng-container matColumnDef="heureJour">
                  <th mat-header-cell *matHeaderCellDef> Heures/ Jours </th>
                  <td mat-cell *matCellDef="let heures"> <h3>{{heures.heureDebut}} - {{heures.heureFin}}</h3> </td>
              </ng-container>

              <ng-container *ngFor="let j of jours">
              <ng-container matColumnDef="{{j.jour}}">
                  <th mat-header-cell *matHeaderCellDef> <h3 class="text-center">{{j.jour}}</h3> </th>

                  <td mat-cell *matCellDef="let heures" style="  border-right: solid 1px black;  border-bottom: solid 1px black;   border-left: solid 1px black;" class="text-right">
                      <ng-container *ngIf="getPg(heures,j)!== undefined">
                          <!-- <b>Prof:</b> {{getPg(heures,j).prof.prenom}} <br> --><h4>{{getPg(heures,j).matiere.nommatiereFR}}</h4> <br> 
                          <!-- <b>Salle:</b> --><a class="text-right">{{getPg(heures,j).salle.nomSalle}} <br> </a>
                          <!-- <b>Matière:</b>--> 
                      </ng-container>
                  </td>
              </ng-container>
              </ng-container>
              <!-- 
              <ng-container matColumnDef="mardi">
                  <th mat-header-cell *matHeaderCellDef> Mardi </th>
                  <ng-container *ngFor="let j of jours">
                          <td mat-cell *matCellDef="let heures">
                              <ng-container *ngIf="getPg(heures,j)!== undefined">
                                  <b>Prof:</b> {{getPg(heures,j).prof.prenom}} <br>
                                  <b>Salle:</b> {{getPg(heures,j).salle.nomSalle}} <br>
                                  <b>Matière:</b> {{getPg(heures,j).matiere.nommatiereFR}} <br>
                              </ng-container>
                          </td>
                      </ng-container>
              </ng-container>

            -->


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      </div>


  </mat-card-content>

  <div>
        <button mat-raised-button color="primary" (click)="clickGoBack()">Retour</button>
         
  </div>
</mat-card>


<!-- 
<div>
  <div>
      <button class="button" (click)="clickGoBack()">Retour</button>
  </div>
  <div>
      <table class="table table-bordered table-hover dataTable" id="testTable">
          <thead>
              <tr>
                  <th>heures\jours</th>
                  <th class="customslim">{{lundi}}</th>
                  <th class="customslim">{{mardi}}</th>
                  <th class="customslim">{{mercredi}}</th>
                  <th class="customslim">{{jeudi}}</th>
                  <th class="customslim">{{vendredi}}</th>
                  <th class="customslim">{{samedi}}</th>
              </tr>

              <tr *ngFor="let h of heures " style="border-color: black">

                  <th class="heures">{{h.heureDebut}} - {{h.heureFin}}</th>
                  <style type="text/css">
                      td:hover {
                          background-color: dodgerblue;
                          cursor: pointer;
                      }
                  </style>
                  <ng-container *ngFor="let j of jours">
                      <td *ngIf="getPg(h,j)!== undefined">
                          <b>Prof:</b> {{getPg(h,j).prof.prenom}} <br>
                          <b>Salle:</b> {{getPg(h,j).salle.nomSalle}} <br>
                          <b>Matière:</b> {{getPg(h,j).matiere.nommatiereFR}} <br>
                      </td>
                  </ng-container> -->

                  <!-- 
                  <td (click)="ajouterunprogramme(h,lundi)" data-toggle="modal" data-target="#modal-default"></td>
                  <td (click)="ajouterunprogramme(h,mardi)" data-toggle="modal" data-target="#modal-default"></td>
                  <td (click)="ajouterunprogramme(h,mercredi)" data-toggle="modal" data-target="#modal-default"></td>
                  <td (click)="ajouterunprogramme(h,jeudi)" data-toggle="modal" data-target="#modal-default"></td>
                  <td (click)="ajouterunprogramme(h,vendredi)" data-toggle="modal" data-target="#modal-default"></td>
                  <td (click)="ajouterunprogramme(h,samedi)" data-toggle="modal" data-target="#modal-default"></td> -->

              <!-- </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" id="modal-default">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">
                  <p> vous allez remplir une seance le {{jour}} de {{heure?.heureDebut}} à {{heure?.heureFin}} </p>
              </h4>
          </div>
          <div class="modal-body">
              <div class="box-body">
                  <div class="row">
                      <div class="col-xs-5"> <label class="txtright col-xl-4">Niveau d'etude :</label>
                          <select #filter class="form-control" (click)="getClassesbyniveau(filter.value)">
                              <option *ngFor="let item of list" [value]="item.name">{{item.name}}</option>
                          </select>
                      </div>
                      <div class="col-xs-5">
                          <label class="txtright col-xl-4">Classes :</label> -->
                          <!-- <select [(ngModel)]="nomclasse" class="form-control col-xl-3" >
                                                                      <option *ngFor="let c of classess " [value]="c.nomclasse">{{c.nomclasse}}</option>
                                                                             </select> -->
                      <!-- </div>

                      <div class="col-xs-5">
                          <label class="txtright col-xl-4">salle :</label> -->
                          <!-- <select [(ngModel)]="nomsalle" class="form-control col-xl-6" >
                                          <option *ngFor="let s of salles" [value]="s.nomSalle" >{{s.nomSalle}}</option>
                              </select > -->
                      <!-- </div>
                      <div class="col-xs-5">
                          <label class="txtright col-xl-4">semaine scolaire :</label> -->
                          <!-- <select [(ngModel)]="semaine" class="form-control col-xl-6" >
                                          <option *ngFor="let s of semaines" [value]="s.semaine" >{{s.semaine}}-- {{s.datedebut}} ->{{s.datefin}} </option>
                                      </select > -->

                      <!-- </div>
                      <div class="col-xs-5">
                          <label class="txtright col-xl-4">matiere :</label> -->
                          <!-- <select [(ngModel)]="nommatiere"  class="form-control col-xl-6" >
                                      <option *ngFor="let m of matieres" [value]="m.nommatiereFR" >{{m.nommatiereFR}}</option>
                                 </select > -->
                      <!-- </div>

                      <div class="col-xs-5">
                          <label>Selectionner l'enseignant </label> -->
                          <!-- <select [(ngModel)]="enseignant"   multiple class="form-control" >
                        <option *ngFor="let p of prof" [value]="p.username">{{p.nom}} -{{p.prenom}} </option>
                 
                      </select> -->
                      <!-- </div>

                      <div class="col-xs-5">
                          <label class="txtright col-xl-4">inserer une remarque : </label> -->

                          <!-- <textarea [(ngModel)]="typeprog"  class="form-control" rows="3" placeholder="laisser une remarque  "></textarea> -->

                      <!-- </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addProgramme()">Save
                  changes</button>
          </div>
      </div> -->
      <!-- /.modal-content -->
  <!-- </div> -->
  <!-- /.modal-dialog -->
<!-- </div>
<style>
  tr:hover {
      background-color: darkseagreen;
      cursor: pointer;

  }
</style> -->